@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Task Manager App</h1>
    <p>
        You may create a new task, mark a task complete or incomplete, set a due date for a task, and delete a task.
    </p>
</div>

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <div class="nav-item">
        <a class="btn btn-primary nav-link" asp-area="" asp-controller="Tasks" asp-action="Index">Get Started!</a>
    </div>
</div>
