@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Task Manager</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the Task Manager App</h2>
        <p>
            You may enter a task, set a due date, mark a task complete, and delete a task.
        </p>
    </div>
</div>

<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
    <div class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Index">Tasks</a>
    </div>
</div>
